 <%- include('./partials/header') %>

    <h2><%= page.title %></h2>
    <div class="page-content">
        <%- page.body %>
    </div>

    <div class="page-meta">
      <p><a href="/"><i class="lni lni-shift-left"></i> Back to all blog posts</a></p>
    </div>

 <%- include('./partials/footer') %>
