        <% if (footerText) { %>
          <hr size="2">
        <% } %>
      </main>

      <% if (footerText) { %>
      <footer>
          <%= footerText %>
      </footer>
      <% } %>
    </div>
</body>
</html>
