@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZzmx8OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZTm18OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZkG18OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZzm18OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZ_G18OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZEGp8OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZKWp8OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZTmp8OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uUsoS_Lf9xv7Su1Fp4AS5XiXCAlXGks1WZZ2p8OA.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpp3bJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jph3aJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpsPaJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpp3aJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpq_aJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpkPdJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpnrdJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jph3dJi4.ttf) format('truetype');
}
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/elmssans/v5/q5uWsoS_Lf9xv7Su1FpSCByoURnrD9-jpjTdJi4.ttf) format('truetype');
}
:root {
  --main-text-color: #333333;
  --background-color: #f9f9f9;
  --input-background-color: #ffffff;
  --button-background-color: #4CAF50;
  --button-text-color: #ffffff;
  --button-hover-background-color: #45a049;
}
body {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--background-color);
  color: var(--main-text-color);
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid var(--main-text-color);
}
header h1 {
  margin: 0;
  font-size: 24px;
}
header nav {
  margin-top: 10px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
header nav a {
  margin: 0 10px;
  color: var(--link-color);
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
main {
  margin-top: 20px;
}
footer {
  background-color: var(--background-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid var(--main-text-color);
  margin-top: 20px;
}
footer p {
  margin: 0;
  font-size: 14px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid var(--main-text-color);
}
input[type="text"] + span,
input[type="password"] + span,
input[type="email"] + span,
input[type="date"] + span,
input[type="file"] + span,
textarea + span,
select + span {
  font-size: 12px;
  color: red;
}
button[type="submit"] {
  cursor: pointer;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
}
button[type="submit"]:hover {
  background-color: var(--button-hover-background-color);
}
h1,
h2,
h3 {
  color: var(--main-text-color);
}
p,
label,
ul > li {
  font-size: 14px;
  line-height: 1.5;
}
p a,
label a,
ul > li a {
  cursor: pointer !important;
  color: var(--link-color);
  text-decoration: underline;
}
p a:hover,
label a:hover,
ul > li a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
ul li {
  margin-bottom: 10px;
}
#wrapper {
  padding: 20px;
}
.admin-login-logo {
  max-width: 300px;
  margin: 0 auto 20px auto;
  display: block;
}
#admin-welcome-message {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}
#admin-dashboard-main-content,
.admin-login-page,
.admin-register-page {
  margin-top: 20px;
}
#admin-dashboard-main-content div,
.admin-login-page div,
.admin-register-page div {
  margin-bottom: 20px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
#admin-dashboard-main-content div h2,
.admin-login-page div h2,
.admin-register-page div h2 {
  margin-top: 0;
  text-align: center;
}
.current-avatar {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.current-avatar > .current-avatar-image {
  max-width: 80px !important;
  height: auto;
  border-radius: 8px;
}
.current-avatar + div {
  margin-right: 20px;
}
.current-avatar + div input[type="file"] {
  border: none;
  padding: 0;
}
.admin-edit-page {
  width: 100%;
}
.admin-edit-page .admin-edit-page-header {
  display: flow-root;
  margin-bottom: 20px !important;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-left {
  float: left;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right {
  float: right;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .admin-save-button {
  border-radius: 20px;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu {
  position: relative;
  display: inline-block;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-button {
  background-color: var(--background-color);
  border: solid 1px #000;
  color: #000;
  padding: 8px 11px;
  cursor: pointer;
  border-radius: 50px;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-button:hover {
  background-color: #c1c1c1;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 220px;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-content a.red-text {
  color: red;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu .menu-content a:hover {
  background-color: #f1f1f1;
}
.admin-edit-page .admin-edit-page-header .admin-edit-page-header-right .menu:hover .menu-content {
  display: block;
}
.admin-edit-page .admin-edit-page-content {
  margin-top: 20px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
.admin-edit-page .admin-edit-page-content input[type="text"],
.admin-edit-page .admin-edit-page-content input[type="date"],
.admin-edit-page .admin-edit-page-content textarea {
  width: 100%;
  border: none;
  font-size: 26px;
  font-weight: bold;
  background-color: var(--background-color);
}
.admin-edit-page .admin-edit-page-content input[type="text"]:focus,
.admin-edit-page .admin-edit-page-content input[type="date"]:focus,
.admin-edit-page .admin-edit-page-content textarea:focus {
  outline: none;
}
.admin-edit-page .admin-edit-page-content #editor {
  border: none;
  min-height: 800px;
  background-color: var(--background-color);
}
.admin-edit-page .admin-edit-page-content #editor h1,
.admin-edit-page .admin-edit-page-content #editor h2,
.admin-edit-page .admin-edit-page-content #editor h3,
.admin-edit-page .admin-edit-page-content #editor p,
.admin-edit-page .admin-edit-page-content #editor ul,
.admin-edit-page .admin-edit-page-content #editor ol {
  margin-bottom: 15px;
}
.admin-edit-page .admin-edit-page-content #editor h4,
.admin-edit-page .admin-edit-page-content #editor h5,
.admin-edit-page .admin-edit-page-content #editor h6 {
  margin-bottom: 10px;
}
.admin-edit-page .admin-edit-page-content #editor .ql-editor {
  padding: 10px;
}
.ql-toolbar {
  background-color: #ffffff !important;
  margin-bottom: 0px !important;
}
.admin-edit-page #title {
  resize: none;
  overflow: hidden;
}
#descriptionEditor,
#siteFooterEditor {
  background-color: #ffffff !important;
  min-height: 200px;
}
.admin-login-page,
.admin-register-page {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.create-button {
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 20px;
}
.create-button:hover {
  background-color: var(--button-hover-background-color);
}
.create-button a {
  color: var(--button-text-color);
  text-decoration: none;
  justify-content: center;
  display: flex;
}
.lni {
  margin-top: 2px;
  margin-right: 8px;
}
.admin-back-link {
  color: var(--link-color);
  text-decoration: underline;
  font-size: 14px;
}
.admin-back-link:hover {
  text-decoration: none;
}
/* Dual-list drag & drop styles */
.pages-list {
  display: block;
  margin-top: 10px;
  /* Responsive adjustments */
}
.pages-list .dnd-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.pages-list .dnd-list {
  flex: 1 1 320px;
  min-height: 160px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
}
.pages-list .dnd-list > li {
  list-style: none;
  padding: 5px;
  margin-bottom: 0px;
  cursor: grab;
}
.pages-list .dnd-list > li:active {
  cursor: grabbing;
}
.pages-list .dnd-list > li.dragging {
  opacity: 0.6;
  transform: scale(0.995);
}
@media (max-width: 720px) {
  .pages-list .dnd-container {
    flex-direction: column;
  }
  .pages-list .dnd-list {
    width: 100%;
  }
}
