/* @import url('./reset.css'); */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqbQqg9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhobQ6g9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhrFQ6g9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqbQ6g9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqpQ6g9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhpFRKg9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhp8RKg9.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD6lhzAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDallzAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDtFlzAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD6llzAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD2FlzAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDNF5zAA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDDV5zAA.ttf) format('truetype');
}
body {
  background-color: var(--main-bg-color);
  font-family: "IBM Plex Sans", sans-serif;
}
#wrapper {
  max-width: 660px;
  margin: 0 auto;
  padding: 20px;
}
header .blog-avatar {
  float: left;
  margin-right: 15px;
}
header .blog-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 10px;
}
header h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
header h1 a {
  font-size: 27px;
  color: var(--main-text-color);
  text-decoration: none;
}
nav {
  margin-bottom: 15px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
nav ul > li {
  display: inline;
  margin-right: 15px;
}
nav ul > li a {
  color: var(--link-color);
  text-decoration: underline;
}
main {
  color: var(--main-text-color);
  line-height: 1.6;
}
main ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  margin-bottom: 20px;
}
main ul li {
  font-size: 18px;
}
main ul li time {
  color: var(--main-text-color);
  margin-right: 10px;
}
main h2 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 10px;
}
main p {
  font-size: 18px;
  margin-bottom: 15px;
}
main a {
  color: var(--link-color);
  text-decoration: underline;
}
main hr {
  border: 0;
  height: 1px;
  background-color: var(--main-text-color);
  margin: 20px 0;
}
main .post-content,
main .page-content {
  margin-bottom: 20px;
}
main .site-meta,
main .post-meta,
main .page-meta {
  font-size: 14px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}
main .site-meta p,
main .post-meta p,
main .page-meta p {
  margin: 0;
}
main .site-meta p > a,
main .post-meta p > a,
main .page-meta p > a {
  font-size: 14px;
  color: var(--link-color);
  text-decoration: underline;
}
main .site-meta p > a .lni,
main .post-meta p > a .lni,
main .page-meta p > a .lni {
  float: left;
  margin-top: 8px;
  margin-right: 4px;
}
footer {
  font-size: 18px;
  color: var(--main-text-color);
}
:root {
  --main-bg-color: #FDF7ED;
  --main-text-color: #3A2412;
  --link-color: #D29600;
}
